Common/Inventec.Common/Inventec.Common.ElectronicBill/Inventec.Common.EHoaDon/Web References/WSPublicEHoaDon/WSPublicEHoaDon.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partnerGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCommand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartnerGUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EncryptedCommandData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteCommandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteCommandResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBlockedIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TokenID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBlockedIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBlockedIPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ExecCommand" />
  </wsdl:message>
  <wsdl:message name="ExecCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ExecCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteCommandSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="ExecuteCommandSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="AddBlockedIPSoapIn">
    <wsdl:part name="parameters" element="tns:AddBlockedIP" />
  </wsdl:message>
  <wsdl:message name="AddBlockedIPSoapOut">
    <wsdl:part name="parameters" element="tns:AddBlockedIPResponse" />
  </wsdl:message>
  <wsdl:portType name="WSPublicEHoaDonSoap">
    <wsdl:operation name="ExecCommand">
      <wsdl:input message="tns:ExecCommandSoapIn" />
      <wsdl:output message="tns:ExecCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input message="tns:ExecuteCommandSoapIn" />
      <wsdl:output message="tns:ExecuteCommandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBlockedIP">
      <wsdl:input message="tns:AddBlockedIPSoapIn" />
      <wsdl:output message="tns:AddBlockedIPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSPublicEHoaDonSoap" type="tns:WSPublicEHoaDonSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecCommand">
      <soap:operation soapAction="http://tempuri.org/ExecCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <soap:operation soapAction="http://tempuri.org/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlockedIP">
      <soap:operation soapAction="http://tempuri.org/AddBlockedIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSPublicEHoaDonSoap12" type="tns:WSPublicEHoaDonSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecCommand">
      <soap12:operation soapAction="http://tempuri.org/ExecCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <soap12:operation soapAction="http://tempuri.org/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlockedIP">
      <soap12:operation soapAction="http://tempuri.org/AddBlockedIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPublicEHoaDon">
    <wsdl:port name="WSPublicEHoaDonSoap" binding="tns:WSPublicEHoaDonSoap">
      <soap:address location="https://wsdemo.ehoadon.vn/WSPublicEHoaDon.asmx" />
    </wsdl:port>
    <wsdl:port name="WSPublicEHoaDonSoap12" binding="tns:WSPublicEHoaDonSoap12">
      <soap12:address location="https://wsdemo.ehoadon.vn/WSPublicEHoaDon.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>